name: mygprocess

secrets:
  minio_admin_password:
    file: multipass/minio_admin_password
  minio_user_password:
    file: multipass/minio_user_password
  minio_secret_key:
    file: multipass/minio_secret_key

services:
  pyscripts:
    container_name: myg-pyscripts
    build:
      context: ./
      dockerfile: services/pyscripts/Dockerfile
    volumes:
      - ./myg.py:/app/myg.py
      - ./releasedata/:/app/releasedata/
      - ./logs/:/app/logs/
      - ./databox:/app/databox
    #env_file: multipass/.pyscripts-env
    env_file:
      - multipass/.env.pyscripts
    secrets:
      - minio_secret_key
    stdin_open: true   # Interactive shell
    tty: true          # Keep terminal attached

  qgis:
    container_name: myg-qgis
    build:
      context: ./
      dockerfile: services/qgis/Dockerfile
    volumes:
    #  - ./releasedata/:/app/releasedata/
    #  - ./logs/:/app/logs/
      - ./myg.py:/app/myg.py
      - ./databox:/app/databox
    #env_file: multipass/.pyscripts-env
    env_file:
      - multipass/.env.pyscripts
    secrets:
      - minio_secret_key
    stdin_open: true   # Interactive shell
    tty: true          # Keep terminal attached

  minio:
    container_name: myg-minio
    build: services/minio
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - minio_data:/data
      - ./services/minio/minio-entrypoint.sh:/minio-entrypoint.sh
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD_FILE: /run/secrets/minio_admin_password
      MINIO_USER_NAME: mapyourgrid
      MINIO_USER_CONTAINER: mygfiles
      MINIO_USER_PASSWORD_FILE: /run/secrets/minio_user_password
      MINIO_ACCESSKEY: AKmapyourgrid2025
      MINIO_SECRETKEY_FILE: /run/secrets/minio_secret_key
    secrets:
      - minio_admin_password
      - minio_user_password
      - minio_secret_key
    restart: unless-stopped

volumes:
  minio_data: